/* components/TopBar.module.css */

.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 10; /* Ensure it stays on top */
}

.backBtn,.loginBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backBtn::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("/svg/back.svg");  /* path from public folder */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.loginBtn::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("/svg/login.svg");  /* path from public folder */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.backBtn:hover{
  background-color: #005bb5;
} 

.loginBtn:hover {
  background-color: #005bb5;
}
